# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: sync
        name: sync
        entry: uv sync --all-extras --all-groups --all-packages
        language: system
        pass_filenames: false
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format --config ./pyproject.toml
        language: system
        types: [python]
      - id: ruff-isort
        name: ruff-isort
        entry: uv run ruff check --select I --fix --config ./pyproject.toml
        language: system
        types: [python]
      - id: ruff-lint
        name: ruff-lint
        entry: uv run ruff check --config ./pyproject.toml --fix
        language: system
        types: [python]
      - id: ty
        name: ty
        entry: uv run ty check
        language: system
        types: [python]
