apiVersion: v1
kind: Namespace
metadata:
  name: yolab-{{ instance_name }}
  labels:
    yolab.io/managed: "true"
  annotations:
    yolab.io/app-id: "{{ app_id }}"
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: yolab-{{ instance_name }}-data
spec:
  capacity:
    storage: 20Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  nfs:
    server: "{{ disk.host }}"
    path: "{{ disk.path }}"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ instance_name }}-data
  namespace: yolab-{{ instance_name }}
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: ""
  volumeName: yolab-{{ instance_name }}-data
  resources:
    requests:
      storage: 20Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: server
  namespace: yolab-{{ instance_name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: server
  template:
    metadata:
      labels:
        app: server
    spec:
      initContainers:
      - name: wg-register
        image: ghcr.io/demycode/wg-register:main-latest@sha256:7c914fd218a480edc831867346a02eb5f9806c8cf7a76e6c0af8ae8de8bf9da7
        env:
        - name: PLATFORM_API_URL
          value: "{{ platform_api_url }}"
        - name: ACCOUNT_TOKEN
          value: "{{ account_token }}"
        - name: SERVICE_NAME
          value: ""
        volumeMounts:
        - name: wireguard
          mountPath: /wireguard
        - name: yolab
          mountPath: /yolab
        - name: data
          mountPath: /state
          subPath: "{{ instance_name }}/yolab-state"

      containers:
      - name: wireguard
        image: ghcr.io/demycode/wg-sidecar:latest@sha256:d7706338f231b0e54a8ac6c4a2940f5d9d8c2ac017a69dd378250359ee3d98c1
        securityContext:
          privileged: true
        volumeMounts:
        - name: wireguard
          mountPath: /etc/wireguard

      - name: minecraft
        image: itzg/minecraft-server:latest@sha256:bb1cf73b342bdf6fa03b9d689b699bd1f8c6989f81ea07d520985eb2f18e6f30
        stdin: true
        tty: true
        env:
        - name: EULA
          value: "TRUE"
        - name: DIFFICULTY
          value: "{{ difficulty | default('normal') }}"
        - name: ENABLE_WHITELIST
          value: "{{ 'true' if whitelist else 'false' }}"
        {% if ops %}
        - name: OPS
          value: "{{ ops }}"
        {% endif %}
        {% if whitelist %}
        - name: WHITELIST
          value: "{{ whitelist }}"
        - name: EXISTING_WHITELIST_FILE
          value: "SYNCHRONIZE"
        {% endif %}
        volumeMounts:
        - name: data
          mountPath: /data
          subPath: {{ instance_name }}/minecraft

      volumes:
      - name: wireguard
        emptyDir: {}
      - name: yolab
        emptyDir: {}
      - name: data
        persistentVolumeClaim:
          claimName: {{ instance_name }}-data
