repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml

  - repo: local
    hooks:
      - id: alejandra
        name: alejandra
        entry: nix run github:kamadorueda/alejandra --
        language: system
        files: \.nix$
        pass_filenames: true

      - id: statix
        name: statix
        entry: nix run nixpkgs#statix -- fix .
        language: system
        files: \.nix$
        pass_filenames: false

      - id: deadnix
        name: deadnix
        entry: nix run nixpkgs#deadnix -- --edit
        language: system
        files: \.nix$
        pass_filenames: true
